In [124]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import time

def dateparse (time_in_secs):    
    return datetime.datetime.fromtimestamp(float(time_in_secs))

In [111]:
df = pd.read_csv('coinbaseUSD_1-min_data_2014-12-01_to_2017-10-20.csv', parse_dates=True,date_parser=dateparse, index_col='Timestamp')
df.reset_index(level=0, inplace=True)
df.columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume_btc', 'volume_currency', 'weighted_price']

In [141]:
def aggregate(df):
    df.sort_values('timestamp')
    agged = {'timestamp' : df.iloc[0].timestamp, 
             'high' : np.max(df.high),
             'low' : np.min(df.low),
             'close' : df.iloc[-1].close,
             'open' : df.iloc[0].open,
             'volume_btc' : np.sum(df.volume_btc),
             'volume_currency' : np.sum(df.volume_currency)}
    agged['weighted_price'] = np.mean([agged['high'], agged['low'], agged['close'], agged['open']])
    return pd.DataFrame(agged, index=[0], columns=['timestamp', 'high', 'low', 'close', 'open', 'volume_btc', 'volume_currency'])

In [159]:
i = 0
td = datetime.timedelta(minutes=15)
frames = []
df.sort_values('timestamp', inplace=True)
while i < len(df):
    j = i + 1
    while j < len(df):
        if df.iloc[j].timestamp > df.iloc[i].timestamp and df.iloc[j].timestamp < df.iloc[i].timestamp + td:
            j += 1
        else:
            break
    if j - i == 15:
        frames.append(df.iloc[i:j])
    i = j

In [154]:
aggregated_df = pd.concat([aggregate(x) for x in frames])
aggregated_df.reset_index(level=0, inplace=True)
del aggregated_df['index']

In [155]:
aggregated_df

,timestamp,high,low,close,open,volume_btc,volume_currency
0,2014-12-01 00:33:00,370.00,300.00,370.00,300.00,0.600000,1.863000e+02
1,2014-12-01 01:33:00,370.00,370.00,370.00,370.00,1.311888,4.853986e+02
2,2014-12-01 02:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
3,2014-12-01 03:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
4,2014-12-01 04:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
5,2014-12-01 05:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
6,2014-12-01 06:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
7,2014-12-01 07:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
8,2014-12-01 08:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
9,2014-12-01 09:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
10,2014-12-01 10:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
11,2014-12-01 11:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
12,2014-12-01 12:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
13,2014-12-01 13:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
14,2014-12-01 14:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
15,2014-12-01 15:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
16,2014-12-01 16:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
17,2014-12-01 17:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
18,2014-12-01 18:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
19,2014-12-01 19:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
20,2014-12-01 20:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
21,2014-12-01 21:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
22,2014-12-01 22:33:00,370.00,370.00,370.00,370.00,1.593332,5.895330e+02
23,2014-12-01 23:33:00,377.00,370.00,377.00,370.00,1.527110,5.653108e+02
24,2014-12-02 00:33:00,377.00,377.00,377.00,377.00,0.600000,2.262000e+02
25,2014-12-02 01:33:00,377.00,377.00,377.00,377.00,0.600000,2.262000e+02
26,2014-12-02 02:33:00,377.00,377.00,377.00,377.00,0.600000,2.262000e+02
27,2014-12-02 03:33:00,377.00,377.00,377.00,377.00,0.600000,2.262000e+02
28,2014-12-02 04:33:00,377.00,377.00,377.00,377.00,0.600000,2.262000e+02
29,2014-12-02 05:33:00,378.00,377.00,378.00,377.00,170.760000,6.454671e+04
...,...,...,...,...,...,...,...
24279,2017-10-18 14:00:00,5440.00,5380.00,5403.14,5384.03,560.649327,3.034006e+06
24280,2017-10-18 15:00:00,5417.64,5390.00,5396.95,5403.14,377.906508,2.042996e+06
24281,2017-10-18 16:00:00,5520.87,5396.94,5520.87,5396.95,916.862070,4.987705e+06
24282,2017-10-18 17:00:00,5548.99,5500.00,5507.51,5520.87,670.385529,3.699220e+06
24283,2017-10-18 18:00:00,5599.13,5507.51,5587.95,5507.51,734.580852,4.075839e+06
24284,2017-10-18 19:00:00,5600.00,5560.00,5574.44,5587.95,574.287195,3.207226e+06
24285,2017-10-18 20:00:00,5575.00,5529.44,5555.97,5574.02,473.244376,2.624275e+06
24286,2017-10-18 21:00:00,5645.00,5549.23,5624.51,5555.98,652.062885,3.657005e+06
24287,2017-10-18 22:00:00,5636.25,5571.01,5595.39,5625.00,400.261443,2.247321e+06
24288,2017-10-18 23:00:00,5631.63,5588.32,5631.63,5595.39,291.417489,1.635118e+06
24289,2017-10-19 00:00:00,5650.89,5617.53,5636.01,5631.63,345.774347,1.950216e+06
24290,2017-10-19 01:00:00,5649.56,5588.43,5590.00,5636.02,228.183277,1.284658e+06
24291,2017-10-19 02:00:00,5623.34,5560.00,5560.00,5590.00,187.770203,1.050666e+06
24292,2017-10-19 03:00:00,5614.10,5539.99,5605.63,5560.01,201.278395,1.122493e+06
24293,2017-10-19 04:00:00,5656.56,5593.41,5623.83,5605.63,206.086347,1.159928e+06
24294,2017-10-19 05:00:00,5690.00,5607.33,5688.91,5623.83,223.814363,1.265580e+06
24295,2017-10-19 06:00:00,5718.94,5671.91,5686.00,5688.91,370.068919,2.107363e+06
24296,2017-10-19 07:00:00,5710.21,5671.00,5692.60,5686.00,157.303669,8.962407e+05
24297,2017-10-19 08:00:00,5699.97,5635.00,5662.23,5692.58,367.327496,2.081486e+06
24298,2017-10-19 09:00:00,5750.00,5650.00,5743.00,5662.22,509.784284,2.909638e+06
24299,2017-10-19 10:00:00,5743.01,5702.50,5712.00,5743.01,576.075512,3.298649e+06
24300,2017-10-19 11:00:00,5727.12,5614.23,5650.22,5712.00,578.070502,3.281429e+06
24301,2017-10-19 12:00:00,5697.00,5633.78,5678.42,5650.22,389.637973,2.208934e+06
24302,2017-10-19 13:00:00,5683.52,5655.12,5674.60,5678.42,272.423412,1.543763e+06
24303,2017-10-19 14:00:00,5676.06,5655.12,5673.11,5674.72,247.440929,1.402092e+06
24304,2017-10-19 15:00:00,5673.11,5626.00,5634.96,5673.11,468.387320,2.648070e+06
24305,2017-10-19 16:00:00,5719.49,5634.95,5701.69,5634.96,557.529716,3.164202e+06
24306,2017-10-19 17:00:00,5719.71,5691.09,5719.70,5701.69,399.429587,2.279203e+06
24307,2017-10-19 18:00:00,5730.00,5690.00,5711.71,5719.70,421.897866,2.412848e+06
24308,2017-10-19 19:00:00,5724.99,5689.97,5704.01,5711.71,277.379961,1.584357e+06

In [156]:
aggregated_df.to_csv('hourly_data.csv')

In [149]:
datetime.timedelta(0,1)

datetime.timedelta(0, 1)